@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
   
  font-family: 'Open Sans', sans-serif;

}
.container{
    text-align: center;
    color: azure;
   
}
.c{
    padding: 10em;
    height: clamp(100vmin,105vh,120vmax);
}
.c p{
    margin-top: 1%;
    font-size: clamp(0.75em,0.25em + 2vw,1.5em);
    
}
.c h1{
    margin-top: 20%;
}
.c1{
    background-color: coral;
}
.c2{
    background-color: rgb(18, 238, 238);
}
.c3{
  background-color: rgb(226, 226, 28);
}
.c3 button{
    margin-top: 10%;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    background-color: transparent;
    transition: 1ms;
    padding: 10px;
    cursor: pointer;
    color: azure;
}
.c3 button:hover{
    background-color: darkgoldenrod;
    color:rgb(247, 247, 19);
}
.c2 h1{
    transition: 0.1s;
}
.c2 h1:hover{
    font-size: 250%;
}
.c2 p{
    transition: 0.1s;
}
.c2 p:hover{
    color: darkorchid;
}