@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root{
    --bgColor: #010101;
    --bgColorInfo: #c499a1;
    --txtColor: #f1f1f1;
    --txtFont: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
header nav{
    padding: 1em;
    display: flex;
    background-color: var(--bgColor);
    justify-content: space-between;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-left: 1em;
    cursor: pointer;
}
header nav h1{
    letter-spacing: 4px;
    text-transform: uppercase;
}
body{
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: var(--txtFont);
}
section{
    margin: auto;
    width: auto;
    background-image: url("https://i.pinimg.com/originals/7f/f5/aa/7ff5aa2204c532c80dcc425080aeb1be.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.container{
    background: linear-gradient(to bottom, rgba(0,0,0,0),var(--bgColor) 75%);
    background-size: cover;
    padding: 1em;
    padding-top: 10em;

}
section .start{
    text-align: center;
}
section .start p{
    font-style: italic;
}
.details{
    display: flex;
    justify-content: space-between ;
    margin-top: 20em;
}
.box{
    width: 500px;
    display: flex;
}
.info{
    background-color: var(--bgColorInfo);
}
.info p{
    text-align: left;
    margin: 1em;
    font-style: italic;
    color: #000;
}
.info img{
    width: 150px;
    height: 200px;
}
.skills{
    background-color: var(--bgColorInfo);
    margin: auto;
    margin-bottom: 2em;
    border-radius: 10px;
    width: 200px;
}
.main{
    width: 500px;
    margin-top: 5em;
}
.skills img{
    width: 100px;
    height: 100px;
}
.skills p{
    margin: auto;
}
.container-list{
    display: grid;
    grid-template-columns: auto auto;
}
details summary{
    font-size: larger;
}
details{
    user-select: none;
    cursor: pointer;
}
details {
    padding: 10px;
  }
  
  details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
  }
  
  details[open] summary {
    margin-bottom: 10px;
  }